VITE_SUPABASE_URL=https://lqvftssoatskiceicwfi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxdmZ0c3NvYXRza2ljZWljd2ZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5ODU5OTcsImV4cCI6MjA2ODU2MTk5N30.ATW3KRAkS7JDqPkiLY0mX_KuOzQ5dezYlivA7e5-TsE